@media (max-width: 1366px) {
  .home__title {
    font-size: 7.5rem;
    & + img {
      width: 50%;
    }
  }
  .home__txt {
    margin: 15px 0 10vh;
  }
}

@media (max-width: 1100px) {
  .header {
    .menu {
      order: 1;
    }
    .menu__list {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 90px;
      padding-left: 25px;
      background: rgba(#1c1c1c, 0.9);
      transform: translateY(-100%);
      z-index: -1;
      transition: transform 0.3s;
      overflow: auto;
      .menu__tel {
        position: relative;
        display: block;
        padding-top: 33px;
        margin: auto 0;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          border-top: 1px solid rgba($white, 0.24);
        }
        a {
          display: block;
        }
      }
      &--active {
        transform: translateY(0);
      }
    }
    .menu__itm {
      margin-top: auto;
      & + .menu__itm {
        padding-left: 0;
        margin-top: 35px;
      }
    }
    &__btn {
      margin-right: 0;
    }
    &__tel {
      display: none;
    }
  }
  .burger {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      background-color: #e0e0e0;
      margin-bottom: 4px;
      transition: transform 0.3s;
    }
    &::after {
      margin-left: auto;
      margin-bottom: 0;
      width: 16px;
    }
    &__line {
      display: block;
      margin-bottom: 4px;
      width: 24px;
      height: 2px;
      background-color: #e0e0e0;
      opacity: 1;
      transition: opacity 0.3s;
    }
    &.burger--active {
      .burger__line {
        opacity: 0;
      }
      &::after {
        width: 24px;
        transform: translateY(-6px) rotate(-135deg);
      }
      &::before {
        // width: 24px;
        transform: translateY(6px) rotate(135deg);
      }
    }
  }
}

@media (max-width: 540px) {
  .home__title + img {
    width: 90%;
  }
  .home__title {
    display: none;
  }
  .page-arrow {
    margin-bottom: 13px;
  }
}

@media (max-height: 375px) {
  .header {
    .menu__list .menu__tel {
      padding: 15px 0;
    }
    .menu__itm + .menu__itm {
      margin-top: 18px;
    }
  }
}
